
<html>
<head runat="server">
    <title>Todo Application</title>
    <link href="~/CSS/Todo.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-center">
        <form>
            <h2>Wel-come to todo Application</h2><br />
            <label>If Already have an Account please...<a href="/Admin/Login" class="btn1">Login</a></label>
            <br />
            <label>Dont have an account? please <a href="/Admin/Register" class="btn2">SignUp</a></label>
        </form>
        <h2>Todo Application</h2>
    </div>
   
    @*<script src="~/Scripts/Admin.js/Todoitem.js"></script>*@

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script src="~/Scripts/Admin.js/Login.js"></script>
</body>
</html>
